Laboratorium/lab4/linux-5.11.13
Laboratorium/lab4/linux-5.11.13.tar.xz
Laboratorium/lab5/coreutils-8.32.tar.xz
Laboratorium/lab5/coreutils-8.32
Laboratorium/lab5/dodatkowe.tar.xz
Laboratorium/lab5/dodatkowe
Laboratorium/lab6/dodatkowe
Laboratorium/lab6/dodatkowe.tar.xz
Laboratorium/lab6/coreutils-8.32.tar.xz
Laboratorium/lab6/coreutils-8.32
Laboratorium/lab7/dodatkowe
Laboratorium/lab7/dodatkowe.tar.xz
Laboratorium/lab7/coreutils-8.32.tar.xz
Laboratorium/lab7/coreutils-8.32